.header1{
	color:white;
	background-color:#08805a;
	text-align:center;
	padding:10px;
	
}
                /Designing a form/
.body{
    background-color:#f2f2f2; width:35%; 
    margin:auto; border-radius:7px; padding:16px;
}

.sub_header{
    background-color: #2ecc71; color:white; 
    border-radius:7px; padding:8px; margin:auto;
    font-family:Arial, Helvetica, sans-serif; text-align: center;
}
            /style navigation bar/
.navbar1{
    background-color:hsl(145, 95%, 31%);
    overflow:hidden;
}
.navbar1 a {
    text-decoration: none;
    color: #f2f2f2;
    width: 50%;
    padding: 12px;
    float: left;
    display: block;
    box-sizing: border-box;
    text-align: center;
}
.navbar1 a:hover{
background-color:hsl(145, 84%, 22%);
}
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: hsl(145, 95%, 31%);
  }
label{
    font-size: 19px; font-family:Arial, Helvetica, sans-serif;
}

input[type=text], input[type=email], input[type=date]{
				width:100%; padding:14px 8px; margin:5px; border-radius:5px;
            }
input[type=submit]{
                width:100%; padding:14px 8px; margin:5px; border-radius:5px;
				background-color:#2ecc71; color:#ffffff; font-size:20px;
			}
input[type=submit]:hover{ 
                background-color:#2b774b; color:#ffffff;
            }
            

               /Designing a table/
.body2{
    background-color:#f2f2f2; width:80%; 
    margin:auto; border-radius:7px; padding:16px;
    }
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  table, td, th {
    border: 1px solid #ddd;
    padding: 12px;
  }
  tr:nth-child(even){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }
  .footer {
    width: 97%;
    padding:20px;
    background-color: #0abde3;
    color: white;
    text-align: center;
    margin-top:20px;
    
  }
